/* Fonts */
@font-face {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: url(../fonts/Roboto/Roboto-Regular.ttf) format("truetype");
}

@font-face {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-display: swap;
    src: url(../fonts/Roboto/Roboto-Bold.ttf) format("truetype");
}

/* Global */
*,
*::after,
*::before {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    min-width: 320px;
    color: #1b1b1b;
    background-color: #eeeeee;
    font-family: 'Roboto', sans-serif;
    line-height: 1.25em;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 100%;
    height: auto;
}

h1,h2,h3,p {
    margin: 0;
    padding: 0;
}

/* Container */
.container {
    max-width: 940px;
    margin: 0 auto;
}

/* Header */
.page-header__top {
    min-height: 57px;
    background: #242424;
    color: #ffffff;
    padding: 20px 0;
}

.page-header__bottom {
    padding-bottom: 50px;
    line-height: 1em;
    background: #71b5ed;
}

.page-header__list {
    display: flex;
    /*align-items: center;*/
    justify-content: space-between;
    max-width: 940px;
    margin: 0 auto;
}

.page-header__bottom .page-header__list {
    font-size: 18px;
    color: #ffffff;
}

.contacts__time {
    margin-left: 30px;
}

.contacts__time span {
    display: block;
}
.contacts__time::before {
    position: absolute;
    content: "";
    background: url("../img/clock.svg");
    width: 20px;
    height: 20px;
    margin-left: -30px;
}

.contacts__email {
    padding-left: 30px;
}

.contacts__email::before {
    content: "";
    position: absolute;
    background: url("../img/envelope.svg");
    width: 20px;
    height: 20px;
    margin-left: -30px;
}

.contacts__tel {
    padding-left: 30px;
}

.contacts__tel::before {
    position: absolute;
    content: "";
    width: 20px;
    height: 20px;
    background: url("../img/whatsapp_icon.svg");
    margin-left: -30px;
}

.contacts__tel-link {
    display: block;
}


.contacts__address {
    padding-left: 30px;
    align-self: center;
}


.contacts__address::before {
    position: absolute;
    content: "";
    background: url("../img/map.svg");
    width: 30px;
    height: 30px;
    margin-left: -30px;
    margin-top: -5px;
}
.logo {
    text-align: center;
}

.logo__title {
    display: block;
    text-transform: uppercase;
}

.page-header__nav {
    max-width: 940px;
    padding: 20px 0;
    margin: -40px auto 0;
    background: #ffffff;
}

.nav-site__list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.nav-site__item {
    min-width: 100px;
    padding: 0.8em 0;
    text-align: center;
}

.nav-site__link {
    text-transform: uppercase;
}

.nav-site__item:focus,
.nav-site__item:hover,
.nav-site__item:active {
    background: #71b5ed;
    color: rgba(0, 0, 0, 0.7);
}

/* Slider */
.slider--wrapper {
    margin-bottom: 50px;
}

.slide {
    display: none;
}

.slide--active {
    display: block;
}

.slide--active img {
    height: 447px;
    width: 100%;
}

/* About */

.about {
    margin-bottom: 50px;
}

.about__wrapper {
    margin-bottom: 40px;
}

.about__title {
    text-align: center;
    margin-bottom: 40px;
}

.about__image {
    float: right;
}

.about__text {
    margin-bottom: 40px;
}

.about__text:last-child {
    margin: 0;
}

.clearfix::after {
    content: "";

    display: table;
    clear: both;
}

/* Services */
.services__main-title {
    text-align: center;
    margin-bottom: 40px;
}

.services__list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.accordion {
    position: relative;
    background-color: #eee;
    padding: 18px;
    width: 100%;
    text-align: left;
    outline: none;
    transition: 0.4s;
    cursor: pointer;
}

.accordion::after {
    content: "+";
    width: 20px;
    height: 20px;
    position: absolute;
    right: 0;
}

.active,
.accordion:hover {
    background-color: #ccc;
}

.accordion__panel {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}

/* Partners */
.partners__title {
    text-align: center;
    margin-bottom: 40px;
}

.partners__list {
    display: flex;
    justify-content: space-between;
}

.partners__img {
    height: 200px;
    width: 200px;
    object-fit: contain;
}

.partners__wrapper {
    text-align: center;
    margin-bottom: 50px;
}

.partners__button {
    color: #909090;
    border: none;
    cursor: pointer;
    width: 50px;
    height: 50px;
    font: inherit;
    font-size: 40px;
    line-height: 40px;
    outline: none;
}

.partners__button:focus,
.partners__button:hover {
    color: #000000;
}

/* Map */
.map iframe {
    width: 100%;
    border: none;
}

/* Footer */

.page-footer {
    background-color: #71b5ed;
    padding: 20px 0;
    color: #ffffff;
    margin-top: -5px;
}

.another-project {
    color: #ffffff;
    height: 18px;
}

.another-project .arrow-3-icon {
    position: relative;
    top: -1px;
    transition: transform 0.3s ease;
    vertical-align: middle;
}
.another-project .arrow-3-iconcircle {
    transition: stroke-dashoffset .3s ease;
    stroke-dasharray: 95;
    stroke-dashoffset: 95;
}
.another-project:hover .arrow-3-icon {
    transform: translate3d(5px, 0, 0);
}
.another-project:hover .arrow-3-iconcircle {
    stroke-dashoffset: 0;
}

small {
    display: block;
    margin-top: 20px;
}
